docs/n8n/shopee_orders_sync_v3.workflow.json
{
  "name": "shopee_orders_sync_v3",
  "nodes": [
    {
      "parameters": {},
      "id": "7a2cd31c-e542-4716-b907-80fffd8d9a1f",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        -96
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "8929210c-c141-4ad1-a58c-c22079dcf232",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1888,
        80
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "458fc181-5329-4802-a6c8-f3c18be99ef9",
              "name": "partnerId",
              "type": "string",
              "value": "2014527"
            },
            {
              "id": "ed321dac-d1c1-421e-b037-9431c0dc7654",
              "name": "partnerKey",
              "type": "string",
              "value": "REPLACE_WITH_SHOPEE_PARTNER_KEY"
            },
            {
              "id": "c1b0ab02-81d9-42dd-95a7-54e80375ae32",
              "name": "shopId",
              "type": "string",
              "value": "95300527"
            },
            {
              "id": "960dca84-00fa-4a3a-adc4-2ff286934311",
              "name": "refreshToken",
              "type": "string",
              "value": "REPLACE_WITH_SHOPEE_REFRESH_TOKEN"
            },
            {
              "id": "9741229b-6841-4d69-b450-5bc26281ea7d",
              "name": "storeId",
              "type": "string",
              "value": "61c0568a-a01b-4ad8-8ee4-f9dbb363a1fb"
            },
            {
              "id": "166aa2b5-ef30-4725-aa77-c0f54d2c8415",
              "name": "supabaseUrl",
              "type": "string",
              "value": "https://blmunscozzxxoefrdydg.supabase.co"
            },
            {
              "id": "2edb01bc-0915-42a2-a818-6d350945dd25",
              "name": "serviceRoleKey",
              "type": "string",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "id": "8e9a5df3-2e4e-4898-abf4-ac1bf8255b6f",
              "name": "lookbackDays",
              "type": "string",
              "value": "3"
            },
            {
              "id": "60c5df96-8c81-4e11-a290-f4a042ef727f",
              "name": "shopeeApiBase",
              "type": "string",
              "value": "https://partner.shopeemobile.com"
            }
          ]
        }
      },
      "id": "d9cd4d47-e415-425d-8e33-a4adcc84a3fc",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function rightRotate(value, amount) {\n  return (value >>> amount) | (value << (32 - amount));\n}\n\nfunction sha256(ascii) {\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let result = '';\n  const words = [];\n  const asciiBitLength = ascii.length * 8;\n  let hash = [];\n  let k = [];\n  let primeCounter = 0;\n  const isComposite = {};\n\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (let i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80';\n  while ((ascii.length % 64) - 56) ascii += '\\x00';\n  for (let i = 0; i < ascii.length; i++) {\n    const j = ascii.charCodeAt(i);\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n\n  for (let j = 0; j < words.length;) {\n    const w = words.slice(j, (j += 16));\n    const oldHash = hash.slice(0);\n\n    for (let i = 0; i < 64; i++) {\n      const w15 = w[i - 15];\n      const w2 = w[i - 2];\n      const a = hash[0];\n      const e = hash[4];\n      const temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      const temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.pop();\n    }\n\n    for (let i = 0; i < 8; i++) {\n      hash[i] = (hash[i] + oldHash[i]) | 0;\n    }\n  }\n\n  for (let i = 0; i < 8; i++) {\n    for (let j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16 ? '0' : '') + b.toString(16));\n    }\n  }\n\n  return result;\n}\n\nfunction hexToBinary(hex) {\n  let output = '';\n  for (let i = 0; i < hex.length; i += 2) {\n    output += String.fromCharCode(parseInt(hex.slice(i, i + 2), 16));\n  }\n  return output;\n}\n\nfunction hmacSha256(key, message) {\n  const blockSize = 64;\n  let normalizedKey = key;\n\n  if (normalizedKey.length > blockSize) {\n    normalizedKey = hexToBinary(sha256(normalizedKey));\n  }\n\n  if (normalizedKey.length < blockSize) {\n    normalizedKey = normalizedKey.padEnd(blockSize, '\\x00');\n  }\n\n  let oKeyPad = '';\n  let iKeyPad = '';\n\n  for (let i = 0; i < blockSize; i++) {\n    const code = normalizedKey.charCodeAt(i);\n    oKeyPad += String.fromCharCode(code ^ 0x5c);\n    iKeyPad += String.fromCharCode(code ^ 0x36);\n  }\n\n  return sha256(oKeyPad + hexToBinary(sha256(iKeyPad + message)));\n}\n\nconst config = $input.first().json;\nconst path = '/api/v2/auth/access_token/get';\nconst timestamp = Math.floor(Date.now() / 1000);\nconst baseString = `${config.partnerId}${path}${timestamp}${config.shopId}`;\nconst sign = hmacSha256(config.partnerKey, baseString);\n\nreturn [\n  {\n    json: {\n      ...config,\n      refreshPath: path,\n      refreshTimestamp: timestamp,\n      refreshSign: sign,\n      refreshUrl: `${config.shopeeApiBase}${path}?partner_id=${encodeURIComponent(config.partnerId)}&timestamp=${timestamp}&sign=${sign}&shop_id=${encodeURIComponent(config.shopId)}`,\n      refreshBody: {\n        refresh_token: config.refreshToken,\n        partner_id: Number(config.partnerId),\n        shop_id: Number(config.shopId)\n      }\n    }\n  }\n];"
      },
      "id": "ec3ebf89-f41c-472c-9f10-70f530f0ad90",
      "name": "Build Refresh Token Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.refreshUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.refreshBody }}",
        "options": {}
      },
      "id": "b4c21dbc-c7ef-4df0-a6b5-aa95a1e4904d",
      "name": "Shopee Refresh Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const refreshResponse = $input.first().json;\nconst config = $('Workflow Config').first().json;\n\nconst refreshed = refreshResponse.response ?? {};\nconst accessToken = refreshResponse.access_token ?? refreshed.access_token;\nconst refreshToken = refreshResponse.refresh_token ?? refreshed.refresh_token ?? config.refreshToken;\nconst expireIn = Number(refreshResponse.expire_in ?? refreshed.expire_in ?? 14400);\n\nif (!accessToken) {\n  throw new Error(\n    refreshResponse.message ??\n      refreshResponse.error ??\n      refreshed.message ??\n      refreshed.error ??\n      'Shopee refresh token response did not include access_token'\n  );\n}\n\nconst tokenExpiry = new Date(Date.now() + expireIn * 1000).toISOString();\n\nreturn [\n  {\n    json: {\n      ...config,\n      accessToken,\n      refreshToken,\n      tokenExpiry,\n      expireIn\n    }\n  }\n];"
      },
      "id": "cfd25ed0-2f74-4720-93c7-e4ee729a3383",
      "name": "Normalize Token Set",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.supabaseUrl + '/rest/v1/stores?id=eq.' + encodeURIComponent($json.storeId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.serviceRoleKey }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.serviceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { access_token: $json.accessToken, refresh_token: $json.refreshToken, token_expiry: $json.tokenExpiry } }}",
        "options": {}
      },
      "id": "57ad3a8a-f824-49d6-a308-30c7467836fd",
      "name": "Update Store Tokens In Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function rightRotate(value, amount) {\n  return (value >>> amount) | (value << (32 - amount));\n}\n\nfunction sha256(ascii) {\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let result = '';\n  const words = [];\n  const asciiBitLength = ascii.length * 8;\n  let hash = [];\n  let k = [];\n  let primeCounter = 0;\n  const isComposite = {};\n\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (let i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80';\n  while ((ascii.length % 64) - 56) ascii += '\\x00';\n  for (let i = 0; i < ascii.length; i++) {\n    const j = ascii.charCodeAt(i);\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n\n  for (let j = 0; j < words.length;) {\n    const w = words.slice(j, (j += 16));\n    const oldHash = hash.slice(0);\n\n    for (let i = 0; i < 64; i++) {\n      const w15 = w[i - 15];\n      const w2 = w[i - 2];\n      const a = hash[0];\n      const e = hash[4];\n      const temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      const temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.pop();\n    }\n\n    for (let i = 0; i < 8; i++) {\n      hash[i] = (hash[i] + oldHash[i]) | 0;\n    }\n  }\n\n  for (let i = 0; i < 8; i++) {\n    for (let j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16 ? '0' : '') + b.toString(16));\n    }\n  }\n\n  return result;\n}\n\nfunction hexToBinary(hex) {\n  let output = '';\n  for (let i = 0; i < hex.length; i += 2) {\n    output += String.fromCharCode(parseInt(hex.slice(i, i + 2), 16));\n  }\n  return output;\n}\n\nfunction hmacSha256(key, message) {\n  const blockSize = 64;\n  let normalizedKey = key;\n\n  if (normalizedKey.length > blockSize) {\n    normalizedKey = hexToBinary(sha256(normalizedKey));\n  }\n\n  if (normalizedKey.length < blockSize) {\n    normalizedKey = normalizedKey.padEnd(blockSize, '\\x00');\n  }\n\n  let oKeyPad = '';\n  let iKeyPad = '';\n\n  for (let i = 0; i < blockSize; i++) {\n    const code = normalizedKey.charCodeAt(i);\n    oKeyPad += String.fromCharCode(code ^ 0x5c);\n    iKeyPad += String.fromCharCode(code ^ 0x36);\n  }\n\n  return sha256(oKeyPad + hexToBinary(sha256(iKeyPad + message)));\n}\n\nconst config = $('Normalize Token Set').first().json;\nconst path = '/api/v2/order/get_order_list';\nconst timestamp = Math.floor(Date.now() / 1000);\nconst lookbackDays = Number(config.lookbackDays || '3');\nconst timeTo = timestamp;\nconst timeFrom = timestamp - lookbackDays * 24 * 60 * 60;\nconst baseString = `${config.partnerId}${path}${timestamp}${config.accessToken}${config.shopId}`;\nconst sign = hmacSha256(config.partnerKey, baseString);\nconst requestUrl = `${config.shopeeApiBase}${path}?partner_id=${encodeURIComponent(config.partnerId)}&timestamp=${timestamp}&access_token=${encodeURIComponent(config.accessToken)}&shop_id=${encodeURIComponent(config.shopId)}&sign=${sign}&time_range_field=update_time&time_from=${timeFrom}&time_to=${timeTo}&page_size=50`;\n\nreturn [\n  {\n    json: {\n      ...config,\n      path,\n      timestamp,\n      timeFrom,\n      timeTo,\n      sign,\n      requestUrl\n    }\n  }\n];"
      },
      "id": "6d4d1dd8-177f-499d-9623-65e14d8ebf31",
      "name": "Build Shopee Order List URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.requestUrl }}",
        "options": {}
      },
      "id": "7983ec61-f2bf-4d80-b8f2-1e9d1111ff7a",
      "name": "Shopee Get Order List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function rightRotate(value, amount) {\n  return (value >>> amount) | (value << (32 - amount));\n}\n\nfunction sha256(ascii) {\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let result = '';\n  const words = [];\n  const asciiBitLength = ascii.length * 8;\n  let hash = [];\n  let k = [];\n  let primeCounter = 0;\n  const isComposite = {};\n\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (let i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (Math.pow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (Math.pow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80';\n  while ((ascii.length % 64) - 56) ascii += '\\x00';\n  for (let i = 0; i < ascii.length; i++) {\n    const j = ascii.charCodeAt(i);\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n\n  for (let j = 0; j < words.length;) {\n    const w = words.slice(j, (j += 16));\n    const oldHash = hash.slice(0);\n\n    for (let i = 0; i < 64; i++) {\n      const w15 = w[i - 15];\n      const w2 = w[i - 2];\n      const a = hash[0];\n      const e = hash[4];\n      const temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      const temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.pop();\n    }\n\n    for (let i = 0; i < 8; i++) {\n      hash[i] = (hash[i] + oldHash[i]) | 0;\n    }\n  }\n\n  for (let i = 0; i < 8; i++) {\n    for (let j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16 ? '0' : '') + b.toString(16));\n    }\n  }\n\n  return result;\n}\n\nfunction hexToBinary(hex) {\n  let output = '';\n  for (let i = 0; i < hex.length; i += 2) {\n    output += String.fromCharCode(parseInt(hex.slice(i, i + 2), 16));\n  }\n  return output;\n}\n\nfunction hmacSha256(key, message) {\n  const blockSize = 64;\n  let normalizedKey = key;\n\n  if (normalizedKey.length > blockSize) {\n    normalizedKey = hexToBinary(sha256(normalizedKey));\n  }\n\n  if (normalizedKey.length < blockSize) {\n    normalizedKey = normalizedKey.padEnd(blockSize, '\\x00');\n  }\n\n  let oKeyPad = '';\n  let iKeyPad = '';\n\n  for (let i = 0; i < blockSize; i++) {\n    const code = normalizedKey.charCodeAt(i);\n    oKeyPad += String.fromCharCode(code ^ 0x5c);\n    iKeyPad += String.fromCharCode(code ^ 0x36);\n  }\n\n  return sha256(oKeyPad + hexToBinary(sha256(iKeyPad + message)));\n}\n\nconst orderListResponse = $input.first().json;\nconst config = $('Normalize Token Set').first().json;\nconst orderList = orderListResponse.response?.order_list ?? [];\n\nif (!Array.isArray(orderList) || orderList.length === 0) {\n  return [];\n}\n\nconst orderSnList = orderList.map((order) => order.order_sn).filter(Boolean);\nconst path = '/api/v2/order/get_order_detail';\nconst timestamp = Math.floor(Date.now() / 1000);\nconst baseString = `${config.partnerId}${path}${timestamp}${config.accessToken}${config.shopId}`;\nconst sign = hmacSha256(config.partnerKey, baseString);\nconst optionalFields = 'total_amount,shipping_carrier,package_list,create_time,update_time,ship_by_date,shipping_document_info,tracking_no,buyer_username,item_list,recipient_address,order_status,status';\nconst requestUrl = `${config.shopeeApiBase}${path}?partner_id=${encodeURIComponent(config.partnerId)}&timestamp=${timestamp}&access_token=${encodeURIComponent(config.accessToken)}&shop_id=${encodeURIComponent(config.shopId)}&sign=${sign}&order_sn_list=${encodeURIComponent(orderSnList.join(','))}&response_optional_fields=${encodeURIComponent(optionalFields)}`;\n\nreturn [\n  {\n    json: {\n      ...config,\n      orderSnList,\n      detailRequestUrl: requestUrl,\n      detailPath: path\n    }\n  }\n];"
      },
      "id": "dc572bd1-7fb5-4188-b815-a098fa0e62e8",
      "name": "Build Order Detail Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.detailRequestUrl }}",
        "options": {}
      },
      "id": "9f7445c0-d3b6-4895-9e5f-a91fd3739c66",
      "name": "Shopee Get Order Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function unique(values) {\n  return [...new Set(values.filter((value) => typeof value === 'string' && value.trim().length > 0))];\n}\n\nfunction extractTrackingCandidates(order) {\n  const values = [];\n\n  if (Array.isArray(order.package_list)) {\n    for (const pkg of order.package_list) {\n      if (pkg?.tracking_number) values.push(pkg.tracking_number);\n      if (pkg?.tracking_no) values.push(pkg.tracking_no);\n      if (pkg?.package_number) values.push(pkg.package_number);\n    }\n  }\n\n  if (order.shipping_document_info?.tracking_number) {\n    values.push(order.shipping_document_info.tracking_number);\n  }\n\n  if (order.shipping_document_info?.tracking_no) {\n    values.push(order.shipping_document_info.tracking_no);\n  }\n\n  if (order.tracking_no) {\n    values.push(order.tracking_no);\n  }\n\n  return unique(values);\n}\n\nfunction mapItems(itemList) {\n  if (!Array.isArray(itemList)) {\n    return [];\n  }\n\n  return itemList.map((item) => ({\n    item_id: item.item_id ?? null,\n    item_name: item.item_name ?? null,\n    model_name: item.model_name ?? null,\n    model_quantity_purchased: item.model_quantity_purchased ?? null,\n    model_sku: item.model_sku ?? null,\n    item_sku: item.item_sku ?? null\n  }));\n}\n\nfunction normalizePlatformStatus(value) {\n  if (typeof value !== 'string' || value.trim().length === 0) {\n    return 'unknown';\n  }\n\n  return value\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '') || 'unknown';\n}\n\nconst detailResponse = $input.first().json;\nconst config = $('Normalize Token Set').first().json;\nconst orders = detailResponse.response?.order_list ?? [];\n\nif (!Array.isArray(orders) || orders.length === 0) {\n  return [];\n}\n\nreturn orders.map((order) => {\n  const trackingCandidates = extractTrackingCandidates(order);\n  const barcodeValue = trackingCandidates[0] ?? order.order_sn;\n  const buyerName = order.recipient_address?.name ?? order.buyer_username ?? null;\n  const items = mapItems(order.item_list);\n\n  const body = {\n    store_id: config.storeId,\n    platform_order_id: order.order_sn,\n    barcode_value: barcodeValue,\n    buyer_name: buyerName,\n    platform_status: normalizePlatformStatus(order.order_status ?? order.status),\n    items_json: items\n  };\n\n  return {\n    json: {\n      ...body,\n      supabaseUrl: config.supabaseUrl,\n      serviceRoleKey: config.serviceRoleKey,\n      requestUrl: `${config.supabaseUrl}/rest/v1/orders?on_conflict=store_id,platform_order_id`,\n      requestBody: JSON.stringify(body)\n    }\n  };\n});"
      },
      "id": "60353289-872b-46f6-bbdc-e8024024a144",
      "name": "Map Detailed Orders For Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.serviceRoleKey }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.serviceRoleKey }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "4799a297-28f3-4301-acfe-46e955547863",
      "name": "Upsert Orders To Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Build Refresh Token Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Refresh Token Request": {
      "main": [
        [
          {
            "node": "Shopee Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopee Refresh Token": {
      "main": [
        [
          {
            "node": "Normalize Token Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Token Set": {
      "main": [
        [
          {
            "node": "Update Store Tokens In Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Store Tokens In Supabase": {
      "main": [
        [
          {
            "node": "Build Shopee Order List URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shopee Order List URL": {
      "main": [
        [
          {
            "node": "Shopee Get Order List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopee Get Order List": {
      "main": [
        [
          {
            "node": "Build Order Detail Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Detail Request": {
      "main": [
        [
          {
            "node": "Shopee Get Order Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopee Get Order Detail": {
      "main": [
        [
          {
            "node": "Map Detailed Orders For Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Detailed Orders For Supabase": {
      "main": [
        [
          {
            "node": "Upsert Orders To Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
